{% extends 'base.html' %}

{% block head %}
<title>Snakes and Ladders</title>
{% endblock %}

{% block body %} 
<div class="content row text-center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form method="post" action="#">
            <input class="form-control input_form" placeholder="Number of Users" name="num_users" type="number" min="2" required max="6" />
            <input class="form-control input_form" placeholder="Board Width" name="board_width" type="number" min="10" required max="100"/>
            <input class="form-control input_form" placeholder="Board Height" name="board_height" type="number" min="10" required max="100"/>
            <input class="form-control input_form" placeholder="Number of Turns" name="num_turns" type="number" min="10" max="50" required />
            <select class="form-control" name="difficulty">
                <option>Fácil</option>
                <option selected>Normal</option>
                <option>Difícil</option>
                <option>Legendaria</option>
            </select>
            <button type="submit">Send data</button>
        </form>
    </div>
</div>
{% endblock %}